html {
    height: 100%;
    box-sizing: border-box; 
}

/* Apply to all elements */
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 70px;
    min-height: 100%;
    background-image: url(../images/bg-img.png);
    background-repeat: repeat;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

h1 {
    margin: 20px 0;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

p {
    margin: 20px 0;
}

/* Nav settings */
.nav-normal {
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.75);
}

.nav-wrapper {
    max-width: 960px;
    margin: 0 auto;
}

.brand {
	float: left;
	line-height: 75px;
    color: #f2f2f2;
    font-size: 2rem;
    background-color: #490909;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.brand p {
	margin: 0 20px;
    padding: 0;
}

.nav-normal ul {
    list-style-type: none;
    float: right;
    display: flex;
    animation-duration: 1s;
    animation-name: slidein;
    animation-direction: normal;
}

.nav-normal ul li {
    display: block;
    margin: 0;
    padding: 0;
}

.nav-normal ul li a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 0 16px;
    text-decoration: none;
    line-height: 75px;
}

.nav-normal ul li a:hover,
.nav-normal ul li a#active {
    background-color: #ddd;
    color: black;
}

/* Content Settings */
.content-wrapper {
    max-width: 960px;
    margin: 20px auto 5px auto;
    background-color: white;
    padding: 0 20px 20px 20px;
    border-radius: 25px;
    border: 2px solid #7F7373;
    overflow: auto;
    clear: both;
}

.content-wrapper hr {
    background-color: #000;
    border: 0;
    height: 2px;
}

/* About Settings */
.profile-image {
    max-width: 10rem;
    height: auto;
    float: left;
    margin-right: 20px;
    border: 2px solid #333;
    padding: 2px;
    border-radius: 50%;
    animation-duration: 3s;
    animation-name: growin;
    animation-direction: normal;
}

/* Portfolio Projects */
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-wrapper {
    height: 200px;
    width: 200px;
    position: relative;
    margin: 15px 15px 0 15px;
    box-shadow: 5px 5px 5px 1px #aaa;
}

.project-wrapper > p {
    position: absolute;
    top: 75%;
    left: 50%;
    width: 100%;
    text-align: center;
    background: #7f7373;
    transform: translate(-50%, -50%);
    padding: 15px 0;
    color: #ddd;
    font-weight: bold;
}

/* Form Style */
form label {
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
}

form label:first-child {
    margin-top: 0;
}

input[type=text], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#messageEntry {
    width: 100%;
    height: 150px;
    resize: none;
    border: 1px solid #ccc;
    padding: 12px 20px;
    border-radius: 4px;
}

input[type=submit] {
    background-color: #7f7373;
    padding: 14px 20px;
    margin-top: 8px;
    border-radius: 4px;
    border: none;
}

input[type=submit]:hover {
    background-color: rgba(127, 115, 115, 0.75);
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(51, 51, 51, 0.75);
    text-align: center;
    color: #f2f2f2;
}

.footer p {
    animation-duration: 1s;
    animation-name: slidein;
    animation-direction: normal;
}

/* Animations */
@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

@keyframes growin {
    from {
        height: 0%;
        width: 0%
    }

    to {
        height: 100%;
        width: 100%;
    }
}

/* medium screens */
@media only screen and (max-width: 980px) {
    .content-wrapper {
        margin: 20px 20px 5px 20px;
    }
}

/* small screens */
@media only screen and (max-width: 768px) {

}

/* xs screens */
@media only screen and (max-width: 640px) {
    .nav-normal ul {
        float: none;
        min-width: 100%;
        justify-content: center;
    }

    .brand {
        width: 100%;
        text-align: center;
    }

    .profile-image {
        float: none;
        display: block;
        margin: 0 auto;
    }
}

/* xxs screens */
@media only screen and (max-width: 340px) {
    .nav-normal ul {
        display: block;
    }

    .nav-normal ul li a {
        line-height: 30px;
    }

    .profile-image {
        max-width: 100%;
    }

    input[type=submit] {
        width: 100%;
    }
}